h1 {
  text-align: center;
    color: lightskyblue;
    font-family: Arial;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial;
    & th {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: center;
        background-color: lightskyblue;
        color: white;
        font-weight: bold;
        font-size: 20px;
    }
    & td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
}

button {
    background-color: lightskyblue;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.action {
    margin-bottom: 10px;
    padding: 8px 16px;
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
}

