<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/error.css}">
  <title>Error</title>
</head>
<body>
<div class="face">
  <div class="band">
    <div class="red"></div>
    <div class="white"></div>
    <div class="blue"></div>
  </div>
  <div class="eyes"></div>
  <div class="dimples"></div>
  <div class="mouth"></div>
</div>

<center><h1>Eita! Algo deu errado!</h1></center>
  <center><a class="btn" th:href="@{/}">Return to Home</a></center>
</body>
</html>