<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Tranquilo Mercados - Produtos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Tranquilo Mercados - Produtos</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Setor</th>
            <th>Tamanho</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="produto : ${produtos}">
            <td th:text="${produto.id}">1</td>
            <td th:text="${produto.nome}">Nome</td>
            <td th:text="${produto.tipo}">Tipo</td>
            <td th:text="${produto.setor}">Setor</td>
            <td th:text="${produto.tamanho}">M</td>
            <td th:text="|R$ ${produto.preco}|">0.00</td>
            <td>
                <form th:action="@{/produtos/{id}/edit(id=${produto.id})}" method="get" style="display:inline">
                    <button type="submit">Editar</button>
                </form>
                <form th:action="@{/produtos/{id}/delete(id=${produto.id})}" method="post" style="display:inline">
                    <button type="submit">Excluir</button>
                </form>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(produtos)}">
            <td colspan="6">Nenhum produto cadastrado.</td>
        </tr>
        </tbody>
    </table>
    <div style="margin-top: 20px; text-align: center;">
        <form th:action="@{/produtos/novo}" method="get" style="display:inline">
            <button type="submit" class="action" >Adicionar Produto</button>
        </form>
    </div>
</body>
</html>